<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" th:inline="javascript">
	window.onload = function() {
		setTimeout(function() {
			var result = /*[[${result}]]*/ 0;	
			if(result > 0) {
				alert("삭제 성공");
			} else {
				alert("삭제 실패");
			}
			location.href="/post/postView?pg=[[${pg}]]&seq=[[${seq}]]";
		}, 100);	
	}
</script>
</head>
<body>
	<div th:replace="~{layouts/header.html}"></div>
	
	<div th:replace="~{layouts/footer.html}"></div>
</body>
</html>